@model CourseViewModel

@{
    ViewData["Title"] = "CourseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">

    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Kurs Oluşturucu</h4>
                </div>
                <div class="box-body">
                    <form asp-action="CourseAdd" enctype="multipart/form-data">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="CourseDTO.CourseName"></label>
                                        <input type="text" class="form-control" asp-for="CourseDTO.CourseName">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="CourseDTO.CourseTitle"></label>
                                        <input type="text" class="form-control" asp-for="CourseDTO.CourseTitle">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="CourseDTO.CourseCategoryTypeId"></label>
                                        <select class="form-control" data-placeholder="Kategori Seçin" tabindex="1" asp-for="CourseDTO.CourseCategoryTypeId" asp-items="@(new SelectList(Model.CourseCategoryTypeDTOs,"Id","CategoryName"))">
                                        </select>
                                    </div>
                                </div>
                                <!--/Category-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="CourseDTO.IsApply"></label>
                                        <div class="demo-checkbox">
                                            <input type="checkbox" id="IsApply" asp-for="@Model.CourseDTO.IsApply">
                                            <label for="IsApply">Yayınla</label>
                                        </div>
                                    </div>
                                </div>
                                <!--/IsApply-->
                            </div>
                            <div class="row">
                                <!--/row-->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="CourseDTO.ClassTypeDTOs"></label>
                                        <div class="demo-checkbox">
                                            @foreach (var classType in Model.ClassTypeDTOs)
                                            {
                                                if (Model.CourseDTO.ClassTypeDTOs.Any(z => z.Id == classType.Id))
                                                {
                                                    <input name="CourseList" type="checkbox" checked id="@("basic_checkbox_" + classType.Id)" value="@classType.Id">
                                                    <label for="@("basic_checkbox_" + classType.Id)">@classType.ClassName</label>
                                                }
                                                else
                                                {
                                                    <input name="CourseList" type="checkbox" id="@("basic_checkbox_" + classType.Id)" value="@classType.Id">
                                                    <label for="@("basic_checkbox_" + classType.Id)">@classType.ClassName</label>
                                                }

                                            }
                                        </div>
                                    </div>
                                </div>
                                <!--/ClassType-->
                            </div>
                            <!--row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="@Model.CourseDTO.CourseMainContent"></label>
                                        <textarea id="CourseMainContent" asp-for="@Model.CourseDTO.CourseMainContent" rows="10" cols="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/CourseMainContent-->
                            <hr />
                            <!--row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="@Model.CourseDTO.CourseContent"></label>
                                        <textarea id="CourseContent" asp-for="@Model.CourseDTO.CourseContent" rows="10" cols="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/CourseContent-->
                            <hr />
                            <!--row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="@Model.CourseDTO.CourseForWho"></label>
                                        <textarea id="CourseForWho" asp-for="@Model.CourseDTO.CourseForWho" rows="10" cols="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/CourseForWho-->
                            <hr />
                            <!--row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="@Model.CourseDTO.CourseTarget"></label>
                                        <textarea id="CourseTarget" asp-for="@Model.CourseDTO.CourseTarget" rows="10" cols="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/CourseTarget-->
                            <hr />
                            <!--row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="font-weight-700 font-size-16" asp-for="@Model.CourseDTO.CourseSubjects"></label>
                                        <textarea id="CourseSubjects" asp-for="@Model.CourseDTO.CourseSubjects" rows="10" cols="80"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--/CourseSubjects-->
                            <!--row-->
                            <div class="row">
                                <!--/span-->
                                <div class="col-md-3">
                                    <h4 class="box-title mt-20">Resim Yükle</h4>
                                    <div class="product-img text-left">
                                        <img src="../../images/product/product-9.png" alt="">
                                        <div class="btn btn-lg btn-info mb-20">
                                            <span>Upload Anonther Image</span>
                                            <input type="file" asp-for="File" class="upload">
                                        </div>
                                        <button class="btn btn-lg btn-success">Edit</button>
                                        <button class="btn btn-lg btn-danger">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions mt-10">
                            <button type="submit" class="btn btn-lg btn-primary"> <i class="fa fa-check"></i> Save</button>
                            <button type="button" class="btn btn-lg btn-danger">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

@section LastJs {
    <!-- CK Editor -->
    <script src="../../assets/vendor_components/ckeditor/ckeditor.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="../../assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
    <!-- UltimatePro Admin for editor -->
    <script src="../js/pages/editor.js"></script>
    <script>
        CKEDITOR.replace('CourseMainContent');
        CKEDITOR.replace('CourseContent');
        CKEDITOR.replace('CourseForWho');
        CKEDITOR.replace('CourseTarget');
        CKEDITOR.replace('CourseSubjects');
    </script>
}

