@model CourseViewModel

@{
    ViewData["Title"] = "CourseList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BeginPage {
    <!-- Data Table-->
    <link rel="stylesheet" type="text/css" href="../../assets/vendor_components/datatable/datatables.min.css" />


}
<div class="col-12">

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Eğitim Listesi</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table id="example5" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="font-weight-bold">@Html.DisplayNameFor(z => z.CourseDTO.CourseName)</th>
                            <th class="font-weight-bold">@Html.DisplayNameFor(z => z.CourseDTO.CourseTitle)</th>
                            <th>@Html.DisplayNameFor(z => z.CourseDTO.CourseCategoryTypeId)</th>
                            <th>@Html.DisplayNameFor(z => z.CourseDTO.UpdateTime )</th>
                            <th>@Html.DisplayNameFor(z => z.CourseDTO.IsApply)</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var course in Model.CourseDTOs)
                        {
                            <tr>
                                <td>@course.CourseName</td>
                                <td>@course.CourseTitle</td>
                                <td>@(Model.CourseCategoryTypeDTOs.FirstOrDefault(z => z.Id == course.CourseCategoryTypeId).CategoryName)</td>
                                <td>@course.UpdateTime</td>
                                <td>@course.IsApply</td>
                                <td>
                                    <a asp-action="CourseDetail" asp-route-id="@course.Id" class="btn btn-outline-primary btn-sm">İncele</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>

@section LastJs {
    <!-- This is data table -->
    <script src="../../assets/vendor_components/datatable/datatables.min.js"></script>

    <!-- UltimatePro Admin for Data Table -->
    <script src="../js/pages/data-table.js"></script>
}